html {
	width: 100%;
	background-color: #3C3C3C;
	color: #F5F5F5;
	font-weight: 600;
}

body{
	width: 100%;
}

main {
	width: 100%;
 	background-color: #3C3C3C;
 	color: #F5F5F5;
}

header {
	background-color: #F5F5F5;
	color: #3C3C3C;
	height: 3em;
}

.menu-logo img {
    height: 2em; /* Define a largura da imagem como 100% */
    width: auto; /* Mantém a proporção original da imagem */
}

.row {
	margin: 0px;
}

.titulo {
	height: 6vh;
	margin: 0px;
}

.titulo > * {
	padding: 8px;
}

.jogo {
	width: 100%;
	margin: 0px;
	background-color: #3C3C3C;
}

.limpar, .bs {
	background-color: #F5F5F5;
	display: flex;
    align-items: center;
    justify-content: center;
    color: #3C3C3C;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 300px) {
	.titulo .janela{
		margin: 0px;
		width: 100%;
	}
}

@media (min-width: 300px) and (max-width: 510px) {
	.jogo{
		width: 100%;
		margin: 0px;
	}
}

@media (min-width: 510px) and (max-width: 720px) {
	.jogo{
		width: 510px;
		margin: auto;
	}
}

@media (min-width: 300px) and (max-width: 720px) {
	.titulo, .janela{
		width: 100%;
		margin: 0px;
	}
}

@media (min-width: 576px) and (max-width: 1199.98px) {
	html{
		max-width: 720px;
		margin: 0 auto;
	}
	.titulo, .janela{
		max-width: 720px;
		margin: auto;
	}
	.jogo{
		width: 510px;
		margin: auto;
	}
	header {
		height: 65px;
	}
	.menu-logo img {
	    height: 51px; /* Define a largura da imagem como 100% */
	    width: auto; /* Mantém a proporção original da imagem */
	}
}

@media (min-width: 1200px) {
	html {
		max-width: 1440px;
		margin: 0 auto;
	}
	.titulo, .janela{
		max-width: 720px;
		margin: auto;
	}
	.jogo{
		width: 510px;
		margin: auto;
	}
	header {
		height: 65px;
	}
	.menu-logo img {
	    height: 57px; /* Define a largura da imagem como 100% */
	    width: auto; /* Mantém a proporção original da imagem */
	}
}

.bola {
	border-radius: 50%;
	background-color: grey;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	border: 2px solid transparent;
}

.bolar {
	border-radius: 50%;
	background-color: grey;
	transition: background-color 0.5s ease;
}

@media (max-width: 510px) {
	.bola {
		width: calc( (100vw/6) - 8px );
		height: calc( (100vw/6) - 8px );
	}

	.bolar {
		width: calc( (100vw/12) - 4px);
		height: calc( (100vw/12) - 4px);
	}
	.bolas-resposta-container > .row > .c1{
		padding-left: calc(0.1 * (300vw / 12) );
	}
	.bolas-resposta-container > .l1{
		padding-bottom: 4px;
	}

	.tecla {
		width: 10vw;
		height: 10vw;
		border-radius: 50%;
		margin: 1vw;
		cursor: pointer;
	}

	.teclat {
		width: 10vw;
		height: 10vw;
		border-radius: 50%;
		margin: 1vw;
		cursor: pointer;
	}

	.teclado {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #5dc79a;
		margin: 0px;
	}

	.limpar, .bs {
		position: fixed;
		width: 25vw;
		height: 10vw;
		bottom: 13vw; /* Distância do fundo da tela: 12vw ele fica colado com o teclado*/
		display: flex;
		align-items: center;
	}

	.bs {
		right: 0px; /* Distância da esquerda da tela */
	}

	.limpar {
		right: 25vw; /* Distância da esquerda da tela */
	}

	.teclado-container {
		position: fixed;
		width: 100vw;
		bottom: 0px; /* Distância do fundo da tela */
		right: 0px; /* Distância da esquerda da tela */
		display: flex;
		align-items: center;
	}

	.submit {
		font-size: calc((100vw/510) * 16);
	}

	.limpar {
		font-size: calc((100vw/510) * 22);
	}

}

@media (min-width: 510px) {
	.bola {
		width: 77px;
		height: 77px;
	}
	.bolar{
		width: 34px;
		height: 34px;
	}
	.bolas-resposta-container > .l1{
		padding-bottom: 9px;
	}

	.bolas-resposta-container > .row > .c1{
		padding-left: 13px;
	}

	.tecla {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 5px;
		cursor: pointer;
	}

	.teclat {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 5px;
		cursor: pointer;
	}

	.teclado {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #5dc79a;
		margin: 0px;
	}

	.limpar, .bs {
		position: fixed;
		width: 90px;
		height: 50px;
		bottom: 65px; /* Distância do fundo da tela: 60px ele fica colado com o teclado*/
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.bs {
		right: 5px; /* Distância da esquerda da tela */
	}

	.limpar {
		right: 100px;
	}

	.teclado-container {
		position: fixed;
		width: 510px;
		bottom: 0px; /* Distância do fundo da tela */
		right: 0px; /* Distância da esquerda da tela */
		display: flex;
		align-items: center;
	}
	.submit, .limpar, .bs {
		font-size: 16;
	}
}

.menu {
	margin: 0px;
	height: 100%;
}

.menu > * {
	padding-left: 8px;
	padding-right: 8px;
}

.menu-logo {
	display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
}

.janela {
	width: 100%;
	min-height: 6vh;
	padding-right: 8px;
	padding-left: 8px;
}

.tabuleiro {
	padding-top: 30px;
}

.bolas-container {
	margin: 0px;
	padding: 0px;
}

.bolas-container > .row {
	margin: 0px;
}

.tabuleiro > * > .row {
	margin: 0px;
	padding-bottom: 25px;
}

.tabuleiro .row{
	margin: 0px;
}

.jogo .row > *{
	padding: 0px;
}

.bolas-container > .row  > *{
	padding-left: 4px;
	padding-right: 4px;
}

footer {
	height: 70px;
}

.vermelha { background-color: #000938; }
.verde { background-color: #A37700; }
.azul { background-color: #004705; }
.amarela { background-color: #B22F0E; }
.laranja { background-color: #470B15; }
.submit { background-color: black; }

.submit-container {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    padding: 0px;
}

.submit {
	color: white;
	text-align: center;
	display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    transition: border-color 0.3s ease;
	border: 5px solid transparent;
}

.bolal {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.v {
	background-color: #cf0c0c;
}

.b {
	background-color: #F5F5F5;
}

.p {
	background-color: black;
}

p {
	margin-bottom: 3px;
	font-size: 14px;
}

.janela > .row > *{
	padding: 0px;
}

.info {
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.como-jogar {
	display: flex;
    align-items: center;
}

.refresh {
	background-color: #F5F5F5;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.refres > p{
	font-size: 11px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor padrão do texto */
    /* Outros estilos que você queira remover */
}

#mensagem-selecionar, #mensagem-try, #mensagem-fim, #mensagem-correta, #mensagem-ok {
	color: white;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(207, 12, 12);
    border-radius: 15px;
    height: 40px;
    width: 300px;
    transition: ;
    opacity: 1; /* Inicialmente invisível */
    display: block;
    transition: opacity 2s ease;
    text-align: center;
    line-height: 40px; /* Alinha o texto verticalmente */
}

#mensagem-correta {
	top: 80%;
    left: 50%;
    background-color: #F5F5F5;
    color: black;
}

#mensagem-correta > .row > *{
	padding: 0px;
	text-align: left;
}

.bolac0, .bolac1, .bolac2, .bolac3 {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

#mensagem-correta > .row {
	display: flex;
    align-items: center;
    justify-content: center;
}
