html {
	width: 100%;
	background-color: #E5E5E5;
	color: #263138;
	font-weight: 600;
}

body{
	width: 100%;
}

main {
	width: 100%;
 	background-color: yellow;
}

header {
	background-color: black;
	height: 3em;
}

.titulo {
	height: 6vh;
	margin: 0px;
}

.jogo {
	width: 100%;
	margin: 0px;
	background-color: black;
}

@media (max-width: 300px) {
	.titulo{
		margin: 0px;
		width: 100%;
	}
}

@media (min-width: 300px) and (max-width: 510px) {
	.jogo{
		width: 100%;
		margin: 0px;
	}
}

@media (min-width: 510px) and (max-width: 720px) {
	.jogo{
		width: 510px;
		margin: auto;
	}
}

@media (min-width: 300px) and (max-width: 720px) {
	.titulo{
		width: 100%;
		margin: 0px;
	}
}

@media (min-width: 576px) and (max-width: 1199.98px) {
	html{
		max-width: 720px;
		margin: 0 auto;
	}
	.titulo{
		max-width: 720px;
		margin: auto;
	}
	.jogo{
		width: 510px;
		margin: auto;
	}
	header {
		height: 65px;
	}
}

@media (min-width: 1200px) {
	html {
		max-width: 1440px;
		margin: 0 auto;
	}
	.titulo{
		max-width: 720px;
		margin: auto;
	}
	.jogo{
		width: 510px;
		margin: auto;
	}
	header {
		height: 65px;
	}
}

.bola {
	border-radius: 50%;
	background-color: grey;
	transition: background-color 0.3s ease;
}

.bolar {
	border-radius: 50%;
	background-color: grey;
	transition: background-color 0.5s ease;
}

@media (max-width: 510px) {
	.bola {
		width: calc( (100vw/6) - 8px );
		height: calc( (100vw/6) - 8px );
	}

	.bolar {
		width: calc( (100vw/12) - 4px);
		height: calc( (100vw/12) - 4px);
	}
	.bolas-resposta-container > .row > .c1{
		padding-left: calc(0.1 * (300vw / 12) );
	}
	.bolas-resposta-container > .l1{
		padding-bottom: 4px;
	}

	.tecla {
		width: 10vw;
		height: 10vw;
		border-radius: 50%;
		margin: 1vw;
		cursor: pointer;
	}

	.teclat {
		width: 10vw;
		height: 10vw;
		border-radius: 50%;
		margin: 1vw;
		cursor: pointer;
	}

	.teclado {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #5dc79a;
		margin: 0px;
	}

	.teclado-container {
		position: fixed;
		width: 100vw;
		bottom: 0px; /* Distância do fundo da tela */
		right: 0px; /* Distância da esquerda da tela */
		display: flex;
		align-items: center;
	}

	.submit {
		font-size: calc((100vw/510) * 16);
	}

}

@media (min-width: 510px) {
	.bola {
		width: 77px;
		height: 77px;
	}
	.bolar{
		width: 34px;
		height: 34px;
	}
	.bolas-resposta-container > .l1{
		padding-bottom: 9px;
	}

	.bolas-resposta-container > .row > .c1{
		padding-left: 13px;
	}

	.tecla {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 5px;
		cursor: pointer;
	}

	.teclat {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 5px;
		cursor: pointer;
	}

	.teclado {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background-color: #5dc79a;
		margin: 0px;
	}

	.teclado-container {
		position: fixed;
		width: 510px;
		bottom: 0px; /* Distância do fundo da tela */
		right: 0px; /* Distância da esquerda da tela */
		display: flex;
		align-items: center;
	}
	.submit {
		font-size: 16;
	}
}

.menu {
	margin: 0px;
	height: 100%;
}

.menu-logo {
	text-align: center;
}

.janela {
	width: 100%;
	height: 6vh;
}

.tabuleiro {
	padding-top: 30px;
}

.bolas-container {
	margin: 0px;
	padding: 0px;
}

.bolas-container > .row {
	margin: 0px;
}

.tabuleiro > * > .row {
	margin: 0px;
	padding-bottom: 25px;
}

.tabuleiro .row{
	margin: 0px;
}

.jogo .row > *{
	padding: 0px;
}

.bolas-container > .row  > *{
	padding-left: 4px;
	padding-right: 4px;
}

footer {
	height: 70px;
}

.vermelha { background-color: red; }
.verde { background-color: green; }
.azul { background-color: blue; }
.amarela { background-color: yellow; }
.laranja { background-color: orange; }
.submit { background-color: black; }

.submit-container {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    padding: 0px;
}

.submit {
	color: white;
	text-align: center;
	display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
}
